<div class="test">
  <h1>home works!</h1>
  <p>My name is {{ name }}</p>
  <input
    type="text"
    name=""
    id=""
    [(ngModel)]="age"
    title="bạn {{ age }} tuổi"
  />
  <h3>Tuổi của bạn là {{ age }}</h3>
  <h1 *ngIf="age <= 18; then tre; else gia">Ban tre vl</h1>
  <ng-template #gia>
    <h2>Ban gia vl</h2>
  </ng-template>
  <ng-template #tre>
    <h2>Ban tre vl</h2>
  </ng-template>
  <br />
  <!-- <div>
        <h3>Đây là trái cây component</h3>
        <h1>Trái cây</h1>
        <div *ngFor="let trai of traiCay; let i = index;">
            {{i+1}}. {{trai}}
        </div>
    </div> -->
  <app-table></app-table>

  <button (click)="resetName()">reset ten</button>
</div>
